{% extends "base.html" %}

{% block title %}
Inserción de Estudiante
{% endblock %}

{% block content %}
    <div class="container my-5">
        <h2 class="my-4 text-center">Crear Nueva Aula</h2>
        
        <!-- Cuadro de formulario con fondo transparente y más pequeño -->
        <div class="card shadow-lg" style="max-width: 500px; margin: 0 auto; background-color: rgba(255, 255, 255, 0.8);">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    
                    <!-- Nombre -->
                    <div class="mb-3">
                        <label for="id_nombre" class="form-label">Nombre</label>
                        {{ form.nombre }}
                    </div>


                    <!-- Credencial -->
                    <div class="mb-3">
                        <label for="id_capacidad" class="form-label">Capacidad</label>
                        {{ form.capacidad }}
                    </div>


                    <!-- Botones -->
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a href="{% url 'aulaRead' %}" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- Fin del cuadro de formulario -->
    </div>

{% endblock %}
